<h1 class="hide">BHRobotics</h1>

<section id="carousel">
  <%= image_tag 'banner.jpg', :alt => 'Team 1515 chants' %>
</section>

<div class="columns">
  <section class="column">
    <h2>What is BHRobotics?</h2>
    <p>BHRobotics is a group of students, parents, teachers, and mentors, but most of all, a group of friends. Over the past 6 years, the team has had the mission to spread science and technology in a highly spirited way.</p>
  </section>
  
  <section class="column">
    <h2>Need help?</h2>
    <p>BHRobotics is dedicated to helping teams of any size building their robot or website through its comprehensive <a href="http://wiki.bhrobotics.com">wiki</a>. If more help or mentorship is necessary, <a href="mailto:contact@bhrobotics.com">contact them directly</a>.</p>
  </section>
</div>

<section>
  <h2>What is <abbr>FIRST</abbr>?</h2>
  <p><abbr>FIRST</abbr> stands for For Inspiration and Recognition of Science and Technology. It is a multinational, non-profit organization with the intention to incorporate the many aspects of mathematics, science, engineering, and technology as an exciting and entertaining outlet for kids similar to the interest they find in sports and Facebook. FIRST allows both boys and girls in high school to compete with various other robotics teams from other schools, promoting an extremely competitive but friendly and moral building environment into a unique robot incorporated game. This year’s game is called Logo Motion is played on a 27' by 54' field, in which two alliances of 3 teams each compete against each other with the objective to score as many points as possible and hinder the other alliance from scoring points. Some ways to score points are by placing inflatable inner tubes onto scoring racks in the shape of the FIRST logo, and by deploying a separate robot, a minibot, from the host robot which must climb a 10 foot tower as fast as possible. <a href="/about/first">More About <abbr>FIRST</abbr></a>.</p>
</section>

<section id="website-awards">
  <%= image_tag '/images/website-awards/05Excellence.gif', :alt => '2005 Website Excellence' %>
  <%= image_tag '/images/website-awards/07Excellence.gif', :alt => '2007 Website Excellence' %>
  <%= image_tag '/images/website-awards/07LosAngeles.gif', :alt => '2007 Best Website, Los Angeles' %>
  <%= image_tag '/images/website-awards/08Arizona.gif' , :alt => '2008 Best Website, Arizona' %>
  <%= image_tag '/images/website-awards/08LosAngeles.gif', :alt => '2008 Best Website, Los Angeles' %>
  <%= image_tag '/images/website-awards/08Excellence.gif', :alt => '2008 Website Excellence' %>
  <%= image_tag '/images/website-awards/09Excellence.jpg', :alt => '2009 Website Excellence' %>
</section>