<% title 'FIRST' %>

<h1><abbr>FIRST</abbr></h1>

<section>
  <figure>
    <%= image_tag 'first.png', :alt => 'US FIRST Logo' %>
  </figure>
  <h2>What is <abbr>FIRST</abbr>?</h2>
  <p><a href="http://usfirst.org"><abbr>FIRST</abbr> (For Inspiration and Recognition of Science and Technology)</a> is a multinational non-profit organization, that aspires to transform culture, making science, math, engineering, and technology as cool for kids as sports are today. <abbr>FIRST</abbr> allows young men and women in high school to compete with other teams of the same age in an extremely competitive yet nice and gracious game that changes yearly. Click the links on the left side of the page to learn more about <abbr>FIRST</abbr> and it's competitions.</p>
</section>

<section class="column">
  <h2>What is <abbr>FRC</abbr>?</h2>
  <p>The <abbr>FIRST</abbr> Robotics Competition is a high school robotics competition organized by <abbr>FIRST</abbr>. As of early 2007, 1,303 high school teams of 32,500 students from Brazil, Canada, the Netherlands, Israel, the United States, the United Kingdom, Mexico, and others compete to build 100 to 120 pound robots that can complete a task that changes every year. Teams are given a standard set of parts and the game details at the beginning of January and are given six weeks to construct a competitive robot that can accomplish the game's tasks. In 2008, teams competed in 41 regional competitions throughout March to try and qualify for the championship event in Atlanta, Georgia in April. Previous years' championships have been held in Houston, Texas and at Epcot in Walt Disney World.</p>
</section>

<section>
  <figure>
    <iframe title="YouTube video player" width="300" height="220" src="http://www.youtube.com/embed/oxujTCgQPgg" frameborder="0" allowfullscreen></iframe>
    <figcaption>Logomotion game video</figcaption>
  </figure>
  <h2>Logomotion</h2>
  <p>This year's game is Logomotion. For a quick overview of the game, view the official video on the right. The <a href="http://usfirst.org/uploadedFiles/Robotics_Programs/FRC/Game_and_Season__Info/2011_Assets/Complete_FRC_Game_Manual_05Jan2011.pdf">full game manual</a> contains the exact rules. For more information on the game, check out the <a href="http://usfirst.org/roboticsprograms/frc/content.aspx?id=18762">official Logomotion site and videos</a>.</p>
</section>

<section>
  <h2>Heroes of <abbr>FIRST</abbr></h2>
  
  <section>
    <figure>
      <%= image_tag 'heroes/kamen.jpg', :alt => 'Dean Kamen' %>
    </figure>
    <h3>Dean Kamen</h3>
    <p>Dean Kamen, an award-winning inventor, founded <abbr>FIRST</abbr> (For Inspirational and Recognition of Science and Technology) for high school students in 1989. Less than a decade later, in 1998, the <abbr>FIRST</abbr> LEGO League was established in order to provide engineering opportunities to younger children, ages 9 to 14. Until 2007, the <abbr>FIRST</abbr> Robotics Competition included over 30 regional competitions and only one international competition. Now, the organization has become universal by holding 37 competitions worldwide. Besides this major accomplishment, Kamen invented the Segway, a two-wheeled, self-balancing electric transportation device, in 2001, one of his most well-known inventions. Kamen has spent his life developing products that improve the lives of those less fortunate. Now, he inspires the next generation of scientists and engineers.</p>
  </section>
  
  <section>
    <figure>
      <%= image_tag 'heroes/flowers.jpg', :alt => 'Woodie Flowers' %>
    </figure>
    <h3>Woodie Flowers</h3>
    <p>Dr. Woodie Flowers is the <abbr>FIRST</abbr> National Advisor and Pappalardo Professor Emeritus of Mechanical Engineering at Massachusetts Institute of Technology. He is also a MacVicar Faculty Fellow. His specialty areas are engineering design and product development. He is an integral member of the <abbr>FIRST</abbr> Robotics community. He is a member of the Game and Kit Design Committee and really enjoys working with the students involved in the program. Dr. Flowers coined the term "Gracious Professionalism." Gracious Professionalism is part of the ethos of <abbr>FIRST</abbr>. It's a way of doing things that encourages high-quality work, emphasizes the value of others, and respects individuals and the community.</p>
  </section>
  
  <section>
    <figure>
      <%= image_tag 'heroes/lavery.jpg', :alt => 'Dave Lavery' %>
    </figure>
    <h3>Dave Lavery</h3>
    <p>Dave Lavery is the Program Executive for Solar System Exploration at <abbr>NASA</abbr> Headquarters. He is also well-known amongst participants of the <abbr>FIRST</abbr> Robotics Program as a mentor of team 116 and a member of the Game Design Committee.</p>
  </section>
  
  <section>
    <figure>
      <%= image_tag 'heroes/dudas.jpg', :alt => 'Jon Dudas' %>
    </figure>
    <h3>Jon Dudas</h3>
    <p>Jon's notable 14 years of service with the U.S. Government culminated with his role as Under Secretary of Commerce for Intellectual Property and Director of the U.S. Patent and Trademark Office (<abbr>USPTO</abbr>) from 2004 to 2009. As the head of the <abbr>USPTO</abbr>, Jon led a performance-based government agency with 9,000 employees and a $2 billion annual budget. During his tenure, the USPTO achieved a four-fold increase in meeting key annual objectives. He also personally spearheaded an unprecedented number of patent cooperation and development missions with China, India, Europe, Brazil, and several other countries to improve <abbr>IP</abbr> systems globally and help inventors establish and enforce <abbr>IP</abbr> rights throughout the world.</p>
    <p>Dudas most recently was a partner with the law firm Foley &amp; Lardner LLC, specializing in intellectual property strategy and policy. Prior to his Under Secretary role, Jon held several senior staff positions for the House of Representatives. He started his career in private legal practice in Chicago. He received his law degree, with honors, from the University of Chicago and a bachelor's degree in finance, summa cum laude, from the University of Illinois.</p>
    <p>Jon and his wife, Nicole, have four children ranging from 7 to 16 years old and reside in Bedford, New Hampshire.</p>
  </section>
  
  <section>
    <figure>
      <%= image_tag 'heroes/leon.jpg', :alt => 'Mark Leon' %>
    </figure>
    <h3>Mark Leon</h3>
    <p>Mark Leon is a role model for us all. With his blue hair and infectious attitude about science and engineering, he is helping to inspire youth to do their math homework. "It's all about the math!" says Mark when he's effervescently <abbr>MC</abbr>'ing a <abbr>FIRST</abbr> Robotics regional competition. His high spirits and positive attitude set the standard of gracious professionalism. In addition, he loves to make sure we know what the equation for torque is. Hey Mark! Torque = Force &times; Rotational Distance.</p>
  </section>
</section>