<% title "Creating a FIRST Website" %>
<% page_class "creating-a-first-website" %>

<div class="columns">
  <div class="column-1">
    <%= image_tag "headers/creating-a-first-website.jpg", :alt => "Creating a FIRST Website", :class => "header-image" %>
    <h1>Creating a FIRST Website</h1>
    <p>So you want to build your own website for an FRC team? Well, we have some resources here to get your started. You will need:
    <ul>
      <li>Basic computer skills</li>
      <li>A computer with an Internet connection, which you already have if you're here</li>
      <li>A plaintext editor. We recommend <%= link_to "Notepad++", "http://notepad-plus-plus.org/" %> for Windows, <%= link_to "TextMate", "http://macromates.com" %> for Mac, and <%= link_to "gedit", "gedit.sourceforge.net" %> for Linux.</li>
    </ul>

    <h2>Getting Started</h2>
    <p>Websites are made using three languages: HTML, CSS, and JavaScript. HTML stands for HyperText Markup Language and displays the text and images in a web browser. CSS stands for Cascading Style Sheets and adds styles to the various parts of the webpage. JavaScript handles the behavior of the website, like making things on the page move. <%= link_to "HTMLDog", "http://htmldog.com" %> has some fantastic tutorials on each of the three languages. We strongly recommend going through every section of the site to learn the basics of web programming.</p>

    <h2>Designing the Site</h2>
    <p>After you have an idea for what content you want on your FRC team website, it's time to start designing it. Use a tool like Adobe Photoshop and create a simple mockup of what you want the site to look like. Keep in mind that simple designs are usually more effective and easier to program.</p>

    <h2>Time to Program!</h2>
    <p>Once your team has settled on a layout, use your new HTML and CSS skills to turn it into a working website. For right now, you should focus on just using HTML files, and upload them to your webhost of choice. We suggest <%= link_to "HostMonster", "http://hostmonster.com" %>. FIRST awards points for passing the <a href="http://validator.w3.org/">W3C Validator</a>, a website that checks for errors in your website code. Be sure to run this on your website before submitting your site to FIRST!</p>

    <h2>Writing Content</h2>
    <p>The most important part of the website is the written content. FIRST greatly emphasizes this in the <%= link_to "requirements for the Website Award", "http://www.usfirst.org/uploadedFiles/WEBSITE%20AWARD%20Criteria.pdf" %>. On the home page, explain what your team is, where it's based, and information about FIRST. On other pages, go into detail about your team, talking about your team's history, mission, and previous robots. The more information, the better!</p>

    <h2>Integrate Multimedia</h2>
    <p>A website isn't complete without photos and videos. We recommend uploading all your team photos to Picasa and all your team videos to Vimeo. Using <%= link_to "this tutorial", "http://support.google.com/picasa/bin/answer.py?hl=en&answer=66969" %>, embed them into your website.</p>

    <h2>Spreading the Message</h2>
    <p>Throughout your entire website, make sure that you spread the message of FIRST. Your website should have a link to the FIRST website on every page and include a section describing FIRST in detail. Describe this year's game as well, so that visitors know what to expect at this year's competiton. As always, be gaciously professional!</p>
  </div>

  <div class="column-2">
    <h2>Need Help?</h2>
    <p>Feel free to contact us at <%= link_to "contact@bhrobotics.com", "mailto:contact@bhrobotics.com" %>, we're happy to help. If you need to look at the source of this website, just go to <%= link_to "our GitHub", "http://github.com/CapnKernul/bhrobotics.com" %>. Everything is open source and free to use, extend, and rebrand.</p>
  </div>
</div>
