<% title 'Robots' %>

<h1>Robots</h1>

<section>
  <figure>
    <%= image_tag 'robots/2011.jpg', :alt => '2011 robot' %>
  </figure>
  <h2>2011</h2>
  <ul>
    <li>Weight: 120 lbs</li>
    <li>Height: 60 in</li>
    <li>Width: 28 in</li>
    <li>Length: 38 in</li>
    <li>Drive Type: Mecanum</li>
    <li>Max Lift Height: 12 ft</li>
    <li>List Mechanism: 2-stage forklift</li>
    <li>Manipulator: 3-jointed pneumatic arm and claw</li>
    <li>Strengths: Placing tubes on pegs, lifting from the ground</li>
    <li>Ideals: Simplicity, Robustness</li>
  </li>
</section>

<section>
  <figure>
    <%= image_tag 'robots/2010.jpg', :alt => '2010 robot' %>
  </figure>
  <h2>2010</h2>
  <ul>
    <li>Weight: 120 lbs</li>
    <li>Height: 30 in</li>
    <li>Width: 28 in</li>
    <li>Length: 38 in</li>
    <li>Drive Type: Mecanum</li>
    <li>Kicker: Pneumatic</li>
    <li>Strengths: Blocking, Defense</li>
    <li>Ideals: Simplicity, Redundancy, Strength</li>
  </li>
</section>

<section>
  <figure>
    <%= image_tag 'robots/2009.jpg', :alt => '2009 robot' %>
  </figure>
  <h2>2009</h2>
  <ul>
    <li>Weight: 120 lbs</li>
    <li>Height: 60 in</li>
    <li>Width: 32 in</li>
    <li>Length: 37 in</li>
    <li>Ball Launch Speed: 8 MPH</li>
    <li>Autonomous: Wait and See</li>
    <li>Loading: Human</li>
    <li>Drive Train: Four Motors with 4WD</li>
  </ul>
</section>

<section>
  <figure>
    <%= image_tag 'robots/2008.jpg', :alt => '2008 robot' %>
  </figure>
  <h2>2008</h2>
  <ul>
    <li>Weight: 120 lbs</li>
    <li>Height: 59 in</li>
    <li>Width: 27 in</li>
    <li>Length: 37 in</li>
    <li>Drive: 4 Motor / 4 Gearbox / 6 Wheel / 9fps</li>
    <li>Arm: 4 Motor Elastic Assisted</li>
    <li>Pneumatics: Claw and Punch</li>
    <li>Hybrid: Knock the ball off with Robot Coach assisted dead reckoning</li>
    <li>Scores: Hurdling, Herding, Placing</li>
    <li>Original Weight: 135 lbs. </li>
    <li>Diet: Freshmen, Car Batteries, Peanut Butter Banana Sandwiches</li>
    <li>Ideas: Redundancy, Simplicity and Efficiency</li>
    <li>Nicknames: ChoBot, The Black Hole</li>
  </ul>
</section>

<section>
  <figure>
    <%= image_tag 'robots/2007.jpg', :alt => '2007 robot' %>
  </figure>
  <h2>2007</h2>
  <ul>
    <li>Weight: 113 lbs</li>
    <li>Height: 48 in</li>
    <li>Width: 27.5 in</li>
    <li>Length: 37 in</li>
    <li>Arm Length Extended: 9 1/2 ft</li>
    <li>Arm Swing: 200 Degrees</li>
    <li>Scores: Top, Middle, Bottom</li>
    <li>Autonomous: Wait and See</li>
    <li>Loading: Off Ground, Off Wall, Human Player</li>
    <li>Drive Train: Four CIM Motors with 6WD</li>
    <li>Nicknames: Black Hawk, The MON</li>
  </ul>
</section>

<section>
  <figure>
    <%= image_tag 'robots/2006.jpg', :alt => '2006 robot' %>
  </figure>
  <h2>2006</h2>
  <ul>
    <li>Weight: 119 lbs</li>
    <li>Height: 59 in</li>
    <li>Width: 27.5 in</li>
    <li>Length: 37 in</li>
    <li>Ball Launch Speed: 22 MPH</li>
    <li>Scores: Top and Bottom</li>
    <li>Autonomous: Wait and See</li>
    <li>Loading: Off Ground</li>
    <li>Drive Train: Four Motors with 4WD</li>
  </ul>
</section>

<section>
  <figure>
    <%= image_tag 'robots/2005.jpg', :alt => '2005 robot' %>
  </figure>
  <h2>2005</h2>
  <ul>
    <li>Nicknames: Ziptie</li>
    <li>Weight: 106 lbs.</li>
    <li>Height: 59 in.</li>
    <li>Width: 27.5 in.</li>
    <li>Length: 37 in.</li>
    <li>Cool Factor: 1000</li>
    <li>Scores: Top and Bottom</li>
    <li>Autonomous: Dead Recon, Hanging Tetra</li>
    <li>Loading: Human</li>
  </ul>
</section>