<% title "About this Website" %>
<article>
  <h1>About this Website</h1>
  <p>BHRobotics.com is the website for the FRC team MorTorq (number 1515) based in Beverly Hills, California. It serves as a portal for information about our team and the FIRST Robotics program. It contains information on the team, the history of the program, and resources on how to build a FIRST site.</p>

  <h2>Student Designed, Student Built</h2>
  <p>This website was designed by student members of the team. We wrote all of the content and all of the code. We utilize the modern web framework Ruby on Rails, ensuring that our site is completely flexible to our needs. This setup also allows us to learn and teach modern programming standards to our members. Content management systems like Wordpress, nice as they are, would not allow us to do this. The site design is also completely original using sprites we made.</p>

  <h2>Entirely Open Source</h2>
  <p>The source code of this site is hosted on <a href="https://github.com/CapnKernul/bhrobotics.com">Github.com</a>. This ensures that other FIRST teams can have a framework on which to build their own site, if they need help. The source of this website is organized so one can easily utilize our code for their team, and they'll also leearn of ce</p>

  <h2>Supporting Emerging Web Standards</h2>
  <p>BHRobotics.com fully complies with modern web technologies such as HTML5, CSS3, Ruby on Rails, Postgre SQL, and Git. This keeps our site looking sharp and and working smoothly. For this reason, we recommend upgrading your web browser to the latest version, but it will work fine even if you don't :). </p>

  <h2>Helping Others</h2>
  <p>One of FIRST's most important themes is the Spirit of Coopertition. It is every team's duty to help each other. This is why BHRobotics.com contains a "Create Your Own First Site" page to help other teams with their own site. Users will be able to learn the techniques necessary to build their own advanced website for their FRC Team. We also contain a Build and Safety Manual for build members.</p>

  <h2>Acknowledgements</h2>
  <p>We'd like to thank Zach Kahn, <%= link_to "Alex Fischoff", "http://www.afischoff.com/" %>, <%= link_to "Alex Kern", "http://kernul.com" %>, <%= link_to "Raj Vir", "http://rjvir.com" %>, <%= link_to "Joseph Martin", "http://www.atumcreative.com/" %>, <%= link_to "Mehrzad Farnoosh", "http://vorpd.com" %>, and all other website members for making this website possible. You rock.
</article>
