<% title "About this Website" %>
<% page_class "about-this-website" %>

<header>
  <%= image_tag "headers/about-this-website.jpg", :alt => "About this Website" %>
</header>

<section class="intro">
  <h1>About this Website</h1>
  <p>Hello there! Thanks for visiting our site. We, the website team, spent a lot of time creating it. Every year, our mission is to make the site as an informative portal about our team and the FIRST Robotics program in general. Want to learn how it's built? Well, you've found the right place!</p>
</section>

<section class="website-information">
  <div class="column-1">
    <h2>Student Designed, Student Built</h2>
    <p>Students of the website team have built the entire site that you're currently viewing. This year, we decided to redesign the entire site, adding tons of new sections and updating the minimalist design with something more exciting. At the beginning of season, we did content planning for each page and developed over 20 user scenarios that we had to target. Afterward, we split into two groups. One group handled content development and collected the all of the information for each page. The other group handled the visuals of each page, creating assets that are used throughout the site. The groups collaborated and the website slowly came together.</p>
    <p>Along the way, senior team members to taught the newer members how to program in the web standards HTML and CSS. This high degree of student particpation helped the website team become extremely proficient in modern web technologies, and allows each team member to contribute to the site without needing outside help. Rather than use existing content management systems (CMSes) like Wordpress, early on we opted for a far more flexible approach: building our own content management system in Ruby on Rails, an extremely popular website framework. This has enabled the team to rapidly iterate over our crazy new content layouts while retaining the ease of use one finds in a CMS.</p>

    <h2>Helping Others</h2>
    <p>Open sourceing our website has been the best decisions our website team ever made. We wanted to give back even more to the FIRST community, though, so we wrote a <%= link_to "getting started guide for other FIRST teams that want to build their own websites", creating_a_first_website_path %>. Our team also decided to give away our marketing materials and build manuals for free so that other teams may use them as inspiration. You can find these in the <%= link_to "documents section", documents_path %>.</p>
  </div>

  <div class="column-2">
    <h2>Supporting Emerging Web Standards</h2>
    <p>Before we wrote a single line of code for the website, we had to decide which new browser technologies we were going to use. Members of our team are huge proponents of the fast-moving HTML5 standard (we &hearts; you, Ian Hickinson!) and its accompanying CSS3 standard. As such, we decided to have our site progressively enhance, pushing as many of the visual frills to CSS as we could. If you're looking at this website through a modern web browser, good on you! You're experiencing this site&#8212;and the web&#8212;as it was intended to be viewed!</p>
    <p>While we understand that using newer standards such as HTML5 and CSS3 involves removing support for older browsers such as Internet Explorer 6 and 7, we accept that tradeoff because of how much development time we have saved as a result. We officially support the 2 latest major versions of Google Chrome, Apple Safari, Mozilla Firefox, and Microsoft Internet Explorer. This gives over 98% of our viewers a pixel-perfect experience.</p>

    <h2>Entirely Open Source</h2>
    <p>FIRST is all about Gracious Professionalism. This philosophy aligns perfectly with the spirit of free and open source software. Rather than closing off our website's source from the world, our team decided to release it for free so that other teams may read the code, modify the code, and use the code their own websites. The openness of our website ensures that ever team member has the ability to improve upon the site. In fact, if you'd like to read it or submit a modification to the site, you can do so right now on our <%= link_to "GitHub repository", "https://github.com/CapnKernul/bhrobotics.com" %>. If you're part of a FIRST team, feel free to use any of our website's code or assets to build your own team's site. Need help getting started? <%= link_to "We can help", creating_a_first_website_path %>. </p>
  </div>
</section>

<hr />

<section class="acknowledgements">
  <h2>Acknowledgements</h2>
  <p>We'd like to thank Zach Kahn, <%= link_to "Alex Fischoff", "http://www.afischoff.com/" %>, <%= link_to "Alex Kern", "http://kernul.com" %>, <%= link_to "Raj Vir", "http://rjvir.com" %>, <%= link_to "Joseph Martin", "http://www.atumcreative.com/" %>, <%= link_to "Mehrzad Farnoosh", "http://vorpd.com" %>, and all other website members for making this website possible. You rock. &hearts;
</section>
