<% title "About this Website" %>
 <h2>Overview</h2>
<p>BHRobotics.com is the website for the FRC team MorTorq (number 1515) based in Beverly Hills, California. It serves as a portal for information about our team and the FIRST Robotics program. It contains information on the team itself and resources on how build a FIRST site and the history of the program.</p>
<%= image_tag 'https://lh6.googleusercontent.com/-AfqZm6LB1cw/S5Sbf9u2jlI/AAAAAAAAGX8/Ushp-tJb59E/s720/IMG_5696.JPG', :alt => 'MorTorq at competition' %>

  <h2>Student Designed, Student Built</h2>
<p>This website was designed by student members of the team. We wrote all of the content and all of the code. We utilize the modern web framework Ruby on Rails, ensuring that our site is completely flexible to our needs. This setup also allows us to learn and teach modern programming standards to our members. Content management systems like Wordpress, nice as they are, would not allow us to do this. The site design is also completely original using sprites we made.</p>
<%= image_tag '', :alt => '' %>

  <h2>Entirely Open Source</h2> 
<p>The source code of this site is hosted on <a href="https://github.com/CapnKernul/bhrobotics.com">Github.com</a>. This ensures other FIRST teams can have a framework on which to build their own site, if they need help. The source of this website is organized so one can easily utilize our code for their team, and they'll also leearn of ce</p>
<%= image_tag '220px-Opensource.png', :alt => 'Open Source Logo' %>

  <h2>Supporting Emerging Web Standards</h2> 
<p>BHRobotics.com fully complies with modern web technologies such as HTML5, CSS3, Ruby on Rails, Postgre SQL, and Git. This keeps our site looking sharp and and working smoothly. For this reason, we recommend upgrading your web browser to the latest version, but it will work fine even if you don't :). </p>
<%= image_tag 'HTML5_Logo_512.png', :alt => 'HTML5 Logo' %>

  <h2>Helping Others</h2>
<p>One of FIRST's most important themes is the Spirit of Coopertition. It is every team's duty to help each other. This is why BHRobotics.com contains a "Create Your Own First Site" page to help other teams with their own site. Users will be able to learn the techniques necessary to build their own advanced website for their FRC Team. We also contain a Build and Safety Manual for build members.</p>
<%= image_tag 'http://homework.bhrobotics.com/browse.php?u=czovL2xoNi5nb29nbGV1c2VyY29udGVudC5jb20vLUNUQnRXUFlKMUVnL1RNZHAxUFo2anlJL0FBQUFBQUFBSDQ4L29ZbExVSTBBM3RVL0RTQ18wMjU0LmpwZw%3D%3D&b=13', :alt => 'Helping an FLL Team' %>

 <h2>Acknowledgements</h2>
<p>Special thanks go to <a href="http://http://www.afischoff.com/.com">Alex Fischoff</a>, <a href="kernul.com">Alex Kern</a>, <a href="http://www.atumcreative.com/">Joseph Martin</a>, <a href="http://vorpd.com">Mehrzad Farnoosh</a>, and <a href="http://rjvir.com">Raj Vir</a>, former and current notable website members.