<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header>
      <a href="<%= root_path %>" id="logo">BHRobotics</a>
      <nav>
        <ul>
          <li>
            <a href="<%= about_path %>">About</a>
            <ul>
              <li><a href="<%= about_path :action => :history %>">History</a></li>
              <li><a href="<%= about_path :action => :fun_facts %>">Fun Facts</a></li>
              <li><a href="<%= about_path :action => :first %>">FIRST</a></li>
            </ul>
          </li>
          
          <li>
            <a href="<%= team_path %>">Team</a>
            <ul>
              <li><a href="<%= members_path %>">Members</a></li>
              <li><a href="<%= team_path :action => :robots %>">Robots</a></li>
              <li><a href="<%= awards_path %>">Awards</a></li>
            </ul>
          </li>
          
          <li>
            <a href="<%= media_path %>">Media</a>
            <ul>
              <li><a href="http://bhrobotics.blogspot.com/">Blog</a></li>
              <li><a href="http://twitter.com/bhrobotics1515">Twitter</a></li>
              <li><a href="http://picasaweb.google.com/bhroboticsweb">Photos</a></li>
              <li><a href="http://vimeo.com/mortorq">Videos</a></li>
              <li><a href="<%= media_path :action => :documents %>">Documents</a></li>
            </ul>
          </li>
          
          <li>
            <a href="<%= community_path %>">Community</a>
            <ul>
              <li><a href="<%= community_path :action => :outreach %>">Outreach</a></li>
              <li><a href="<%= community_path :action => :funding %>">Funding</a></li>
              <li><a href="http://en.wikipedia.org/wiki">Wiki</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>