<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    
    <%= stylesheet_link_tag 'screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js' %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'application' %>
    
    <%= csrf_meta_tag %>
    
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <header id="header">
        <a href="<%= root_path %>" id="logo">BHRobotics</a>
        
        <form action="http://www.google.com/cse" method="get" id="search">
          <input type="hidden" name="cx" value="000800013798683413937:dso1yuktepa" />
          <input type="hidden" name="ie" value="UTF-8" />
          <label for="q">Search</label>
          <input type="text" name="q" />
        </form>
        
        <nav id="nav">
          <ul class="sections">
            <li>
              <div>About</div>
              <ul class="subsections">
                <li <%= tab_class('Mission') %>><a href="<%= about_path :action => :mission %>">Mission</a></li>
                <li <%= tab_class('History') %>><a href="<%= about_path :action => :history %>">History</a></li>
                <li <%= tab_class('Fun Facts') %>><a href="<%= about_path :action => :fun_facts %>">Fun Facts</a></li>
                <li <%= tab_class('FIRST') %>><a href="<%= about_path :action => :first %>">FIRST</a></li>
              </ul>
            </li>
            
            <li>
              <div>Team</div>
              <ul class="subsections">
                <li <%= tab_class('Members') %>><a href="<%= members_path %>">Members</a></li>
                <li <%= tab_class('Robots') %>><a href="<%= team_path :action => :robots %>">Robots</a></li>
                <li <%= tab_class('Awards') %>><a href="<%= team_path :action => :awards %>">Awards</a></li>
              </ul>
            </li>
            
            <li>
              <div>Media</div>
              <ul class="subsections">
                <li><a href="http://bhrobotics.tumblr.com/">Blog</a></li>
                <li><a href="http://www.google.com/calendar/embed?src=eileenkahn%40gmail.com&ctz=America/Los_Angeles">Calendar</a></li>
                <li><a href="http://www.facebook.com/pages/BHHS-Robotics/170502726325973">Facebook</a></li>
                <li><a href="http://twitter.com/bhrobotics1515">Twitter</a></li>
                <li><a href="http://picasaweb.google.com/bhroboticsweb">Photos</a></li>
                <li><a href="http://vimeo.com/mortorq">Videos</a></li>
                <li <%= tab_class('Documents') %>><a href="<%= media_path :action => :documents %>">Documents</a></li>
              </ul>
            </li>
            
            <li>
              <div>Community</div>
              <ul class="subsections">
                <li <%= tab_class('Outreach') %>><a href="<%= community_path :action => :outreach %>">Outreach</a></li>
                <li <%= tab_class('Funding') %>><a href="<%= community_path :action => :funding %>">Funding</a></li>
                <li><a href="http://wiki.bhrobotics.com">Wiki</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      
      <div id="main">
        <%= yield %>
      </div>
      
      <footer id="footer">
        <small>&copy; Copyright 2005-2011 BHRobotics. All Rights Reserved. See a problem? <%= link_to 'Contact us', 'mailto:contact@bhrobotics.com' %>.</small>
      </footer>
    </div>
    <script>
      var _gaq = [['_setAccount', 'UA-21365987-1'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');
    </script>
  </body>
</html>