<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :picture_url %>
  <%= f.text_field :picture_url %>
</div>

<div class="field">
  <%= f.check_box :mentor %>
  <%= f.label :mentor, 'Mentor?' %>
</div>

<div class="field">
  <%= f.label :year, 'Graduating year (student) / First year (mentor)' %>
  <%= f.number_field :year, :min => 2005 %>
</div>

<div class="field">
  <%= f.label :subteam %>
  <%= f.text_field :subteam %>
</div>

<div class="field">
  <%= f.label :college %>
  <%= f.text_field :college %>
</div>

<div class="field">
  <%= f.label :biography %>
  <%= f.text_area :biography %>
</div>