<% title @member.name %>

<header>
  <%= link_to 'Back', members_path, :class => 'back-button' %>
  <h1><%= @member.name %></h1>
</header>

<% unless @member.picture_url.blank? %>
  <figure class="emphasized">
    <%= image_tag @member.picture_url, :alt => @member.name %>
  </figure>
<% end %>

<div class="columns">
  <section class="column">
    <h2>Info</h2>
    <ul>
      <li>Team position: <%= @member.position %></li>
      
      <% if @member.mentor? %>
        <li>First year: <%= @member.year %></li>
      <% else %>  
        <li>Graduating year: <%= @member.year %></li>
      <% end %>
      
      <% unless @member.subteam.blank? %>
        <li>Subteam: <%= @member.subteam %></li>
      <% end %>
      
      <% unless @member.college.blank? %>
        <li>College: <%= @member.college %></li>
      <% end %>
    </ul>
    
    <% if admin? %>
      <h2>Actions</h2>
      <%= link_to 'Edit', edit_member_path(@member), :class => 'action-button' %>
      <%= link_to 'Delete', member_path(@member), :method => :delete, :class => 'action-button', :confirm => 'Are you sure?' %>
    <% end %>
  </section>
  <section class="column">
    <h2>Biography</h2>
    <% if @member.biography.blank? %>
      <p>No biography yet! Check back soon.</p>
    <% else %>
      <p><%= @member.biography %></p>
    <% end %>
  </section>
</div>